<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body style="font-family: Arial;">
    <div style="margin: 0; padding: 0;" bgcolor="#eaeced">
        <table style="min-width: 320px;" width="100%" cellspacing="0" cellpadding="0" bgcolor="#eaeced">
            <tbody>
                <tr>
                    <td>
                        <table width="600" cellpadding="0" cellspacing="0" style="width: 600px !important;">
                            <tbody>
                                <tr>
                                    <td style="min-width: 600px; font-size: 0; line-height: 0;">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 10px;">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td bgcolor="#eaeced">
                                        <table width="600" align="center"
                                            style="margin: 0 auto; background-color: #fff;" cellpadding="0"
                                            cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="">
                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <th width="113" align="left"
                                                                        style="padding-left: 5px;">
                                                                        <table cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="line-height: 0;">
                                                                                        <a style="text-decoration: none;"
                                                                                            href="#0.1_">
                                                                                            <img src="" border="0"
                                                                                                style="font: bold 12px/12px Arial, Helvetica, sans-serif; color: #606060; position: absolute !important; top: 45px; z-index: 99;"
                                                                                                align="left" vspace="0"
                                                                                                hspace="0" />
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td bgcolor="#eaeced">
                                        <table width="600" align="center" style="margin: 0 auto;" cellpadding="0"
                                            cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td
                                                        style="background-color: rgb(48, 47, 53); text-align: center; padding: 20px;">
                                                        <img src="https://res.cloudinary.com/diqg6wifs/image/upload/v1649851521/Vector_1_syhgl9.png"
                                                            style="width: 150px;" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="    padding: 2px 30px 50px;" bgcolor="#f9f9f9">
                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <h2 id="subject"
                                                                        style="font-size: 20px; text-align:center; ">
                                                                    </h2>
                                                                    <h2
                                                                        style="font-family: Segoe UI, Tahoma, sans-serif;font-size: 20px; border-bottom: 1px solid #ccc;">
                                                                        Ticket Submitted Successfully</h2>
                                                                </tr>
                                                                <tr>
                                                                    <div id="mail-body">
                                                                        <h6
                                                                            style="font-size: 13px; text-align: left !important;padding: 0px; margin: 0;">
                                                                            <label id="userName"
                                                                                style="font-weight: bold">Hi,&nbsp;</h6>
                                                                        <p
                                                                            style="font-size: 13px;text-align: justify; margin-top: 10px;">
                                                                <tr
                                                                    style="font-size: 18px; font-weight: 400; text-align: center; border-bottom: 1px solid black;">

                                                                </tr>
                                                                <tr>
                                                                    <td>Ticket Submitted Successfully<label
                                                                            id="amount"
                                                                            style="font-weight: bold"></label> <label
                                                                            id="coinType"
                                                                            style="font-weight: bold"></label> <label
                                                                            id="datetime"></label>.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Ensure the
                                                                        details you have submitted above are accurate,
                                                                        as Bit-Bharat Exchange cannot
                                                                        be held liable for incorrect details provided.
                                                                        <p style="text-align: left;"><strong> Kind
                                                                                regards </strong><br>

                                                                            Bit-Bharat Exchange Team
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                                </p>
    </div>

    </tr>
    <tr>
        <td></td>
    </tr>
    <tr style="width: 100%;text-align: center; ">
        <td>
            <a href="" target="_blank"><img
                    src="https://res.cloudinary.com/component-media/image/upload/v1575724831/Cryptobiz%20Email%20Templates%20Images/facebook-icon.png"
                    style="width: 30px; height: 30px;margin-right: 10px; margin-top: 25px;"></a>
            <a href="" target="_blank"><img
                    src="https://res.cloudinary.com/component-media/image/upload/v1575724831/Cryptobiz%20Email%20Templates%20Images/twitter-icon.png"
                    style="width: 30px; height: 30px;margin-right: 10px; "></a>
            <a href="" target="_blank"><img
                    src="https://res.cloudinary.com/component-media/image/upload/v1575724831/Cryptobiz%20Email%20Templates%20Images/instagram-icon.png"
                    style="width: 30px; height: 30px; margin-right: 10px;"></a>
            <img src="https://res.cloudinary.com/component-media/image/upload/v1575724831/Cryptobiz%20Email%20Templates%20Images/pintrest-icon.png"
                style="width: 30px; height: 30px; ">
        </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td bgcolor="#eaeced">
                    <table width="600" align="center" style="margin: 0 auto;" cellpadding="0" cellspacing="0"
                        bgcolor="#101230">
                        <tbody>
                            <tr>
                                <td style="padding: 5px 15px 10px; background-color: rgb(48, 47, 53);">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <th width="400" align="left"
                                                    style="vertical-align: bottom; padding: 0;">
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="text-align: center; font: 11px/14px Arial, Helvetica, sans-serif; background-color: rgb(48, 47, 53); color: #fff; padding: 0 0 10px;">
                                                                    <br />
                                                                    ©
                                                                    2022-2023 Bit
                                                                    Bharat.com All
                                                                    Rights
                                                                    Reserved
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
</body>

</html>