<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body style="font-family: 'Roboto', sans-serif;">
	<div style="margin: 0; padding: 0;" bgcolor="#eaeced">
		<table style="min-width: 320px;" width="100%" cellspacing="0"
			cellpadding="0" bgcolor="#eaeced">
			<tbody>
				<tr>
					<td>
						<table width="600" cellpadding="0" cellspacing="0"
							style="width: 600px !important;">
							<tbody>
								<tr>
									<td style="min-width: 600px; font-size: 0; line-height: 0;">&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td style="padding: 0 10px;">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td bgcolor="#eaeced">
										<table width="600" align="center"
											style="margin: 0 auto; background-color: #fff;"
											cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td style="">
														<table width="100%" cellpadding="0" cellspacing="0">
															<tbody>
																<tr>
																	<th width="113" align="left" style="padding-left: 5px;">
																		<table cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td style="line-height: 0;"><a
																						style="text-decoration: none;" href="#0.1_"> <img
																							src="" border="0"
																							style="font: bold 12px/12px Arial, Helvetica, sans-serif; color: #606060; position: absolute !important; top: 45px; z-index: 99;"
																							align="left" vspace="0" hspace="0" />
																					</a></td>
																				</tr>
																			</tbody>
																		</table>
																	</th>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<table width="100%" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td bgcolor="#eaeced">
										<table width="600" align="center" style="margin: 0 auto;"
											cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td
														style="background-color: rgb(11, 14, 44); text-align: center; padding: 20px;">
														<img
														src="https://res.cloudinary.com/dkivgswcn/image/upload/v1606137127/logo_vbvdvh.png"
														style="width: 230px;" />
													</td>
												</tr>

												<tr>
													<td style="padding: 17px 30px 20px;" bgcolor="#f9f9f9">
														<table width="100%" cellpadding="0" cellspacing="0">
															<tbody>
																<tr>
																	<h2 id="subject"
																		style="font-size: 20px; border-bottom: 1px solid #ccc;"></h2>
																</tr>
																<tr>
																	<div id="mail-body">
																		<div
																			style="min-width: 600px; max-width-width: 600px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; color: #777; line-height: 30px padding:0 3em; max-width: 700px; margin: 10px auto 0; height: 100% position: relative;">
																			<span
																				style="margin: 0 auto; width: 100%; text-align: center; margin: 0 auto; max-width: 100%;">
																				<p>
																				
																				</p>
																			</span> <span
																				style="font-size: 18px; font-weight: 400; text-align: center; border-bottom: 1px solid black;">
																				<p style="padding: 20px 30px; text-align: center;">Withdrawal
																					Success</p>
																			</span> <span
																				style="font-size: 16px; color: black; margin: 10px 0px;">
																				<p style="padding: 0px 30px; text-align: left;">
																					Your withdraw request have been Successfully
																					updated.<label id="amount"
																						style="font-weight: bold"></label> <label
																						id="coinType" style="font-weight: bold"></label>
																					to <label id="toAddress" style="font-weight: bold"></label>
																					on <label id="datetime"></label>.
																				</p>
																			</span> <span
																				style="font-size: 16px; color: black; margin: 10px 0px;">
																				<p style="padding: 10px 30px; text-align: left;">Ensure
																					the details you have submitted above are accurate,
																					as Crypto cannot be held liable for incorrect
																					details provided.</p>
																			</span> <span
																				style="font-size: 16px; color: black; margin: 20px 0px 20px 0px;">
																				<p style="padding: 10px 30px; text-align: center;"></p>
																			</span> <span
																				style="font-size: 16px; color: black; margin-top: 20px;">
																				<p style="padding: 0px 30px;">
																					Note: Please be aware of phishing sites and always
																					make sure you are visiting our official website
																					when entering sensitive data: <a
																						href="https://cryptocurrencyexchange.mobiloitte.com">https://cryptocurrencyexchange.mobiloitte.com</a>
																				</p>
																			</span> <span
																				style="font-size: 16px; color: black; margin-top: 20px;">
																				<p style="padding: 0px 30px;">Thank you for your
																					continued support.</p>
																			</span> <span
																				style="font-size: 16px; color: black; margin-top: 20px;">
																				<p style="padding: 0px 30px;">
																					Regards,<br />Crypto Wen Exchange Team
																				</p>

																			</span>


																		</div>
																	</div>
																</tr>
																<tr>
																	<h2
																		style="font-size: 20px; padding-top: 10px; padding-left: 15px; color: red;">Important
																		Security Reminders:</h2>
																	<ul>
																		<li style="font-size: 14px; padding: 5px 0px;">
																			DO NOT give your password to anyone for any reason!</li>
																		<li style="font-size: 14px; padding: 5px 0px;">
																			DO NOT call any phone number claiming to be Crypto
																			Wen Support!</li>
																		<li style="font-size: 14px; padding: 5px 0px;">
																			DO NOT send any money to anyone claiming to be a
																			member of Crypto Wen!</li>
																		<li style="font-size: 14px; padding: 5px 0px;">
																			Enable Google Two-Factor Authentication!</li>
																		<li style="font-size: 14px; padding: 5px 0px;">
																			Always make sure you are visiting <a
																			href="https://cryptocurrencyexchange.mobiloitte.com">"https://cryptocurrencyexchange.mobiloitte.com"</a>
																		</li>
																	</ul>
																</tr>
																<tr>
																	<p
																		style="font-size: 15px; padding: 5px 15px; margin: 0px; text-align: justify;">
																		If you did not make this request, please do not
																		confirm the registration. It is also recommended that
																		you review your e-mail account security as a
																		precaution. If you have any questions or concerns,
																		please feel free to contact our support team.</p>

																</tr>
																<tr>
																	<p
																		style="font-size: 12px; color: #888181; padding-left: 15px; padding-top: 20px; margin: 0;">https://cryptocurrencyexchange.mobiloitte.com
																		Team</p>
																	<br />
																	<span
																		style="font-size: 12px; padding-left: 15px; color: #888181; line-height: 0px;">Automated
																		message.Please do not reply</span>
																</tr>

																<tr>
																	<td></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="100%" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td bgcolor="#eaeced">
														<table width="600" align="center" style="margin: 0 auto;"
															cellpadding="0" cellspacing="0" bgcolor="#101230">
															<tbody>
																<tr>
																
																	<td style="padding: 17px 30px 20px;">
																		<table width="600px" cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<th width="400" align="left"
																						style="vertical-align: bottom; padding: 0;">
																						<table width="100%" cellpadding="0"
																							cellspacing="0">
																							<tbody>
																								<tr>
																									<td
																										style="text-align: center; font: 11px/14px Arial, Helvetica, sans-serif; background-color: #101230; color: #fff; padding: 0 0 10px;">
																										<br /> © 2019 - 2020 Onboard.com All Rights
																										Reserved
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</th>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
<!-- <html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<table
		style="min-width: 600px; max-width-width: 600px; background: #fff; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; color: #777; line-height: 30px padding:0 3em; max-width: 700px; margin: 10px auto 0; height: 100% position: relative;">
		<tr
			style="margin: 0 auto; width: 100%; text-align: center; margin: 0 auto; max-width: 100%;">
			<td><img src="" style="width: 40%;"></td>
		</tr>
		<tr
			style="font-size: 18px; font-weight: 400; text-align: center; border-bottom: 1px solid black;">
			<td style="padding: 20px 30px; text-align: center;">Withdrawal
				Success</td>
		</tr>
		<tr style="font-size: 16px; color: black; margin: 10px 0px;">
			<td style="padding: 0px 30px; text-align: left;">Your withdraw
				request have been Successfully updated.<label id="amount"
				style="font-weight: bold"></label> <label id="coinType"
				style="font-weight: bold"></label> to <label id="toAddress"
				style="font-weight: bold"></label> on <label id="datetime"></label>.
			</td>
		</tr>
		<tr style="font-size: 16px; color: black; margin: 10px 0px;">
			<td style="padding: 10px 30px; text-align: left;">Ensure the
				details you have submitted above are accurate, as Crypto cannot be
				held liable for incorrect details provided.</td>
		</tr>
		<tr style="font-size: 16px; color: black; margin: 20px 0px 20px 0px;">
			<td style="padding: 10px 30px; text-align: center;"></td>
		</tr>
		<tr style="font-size: 16px; color: black; margin-top: 20px;">
			<td style="padding: 0px 30px;">Note: Please be aware of phishing
				sites and always make sure you are visiting our official website
				when entering sensitive data: <a href="">https://</a>
			</td>
		</tr>
		<tr style="font-size: 16px; color: black; margin-top: 20px;">
			<td style="padding: 0px 30px;">Thank you for your continued
				support.</td>
		</tr>
		<tr style="font-size: 16px; color: black; margin-top: 20px;">
			<td style="padding: 0px 30px;">Regards,<br />Crypto Exchange
				Team
			</td>

		</tr>

		<tr style="width: 100%; text-align: center;">
			<td><a href="" target="_blank"><img
					src="https://res.cloudinary.com/component-media/image/upload/v1575724831/Cryptobiz%20Email%20Templates%20Images/facebook-icon.png"
					style="width: 30px; height: 30px; margin-right: 10px; margin-top: 25px;"></a>
				<a href="" target="_blank"><img
					src="https://res.cloudinary.com/component-media/image/upload/v1575724831/Cryptobiz%20Email%20Templates%20Images/twitter-icon.png"
					style="width: 30px; height: 30px; margin-right: 10px;"></a> <a
				href="" target="_blank"><img
					src="https://res.cloudinary.com/component-media/image/upload/v1575724831/Cryptobiz%20Email%20Templates%20Images/instagram-icon.png"
					style="width: 30px; height: 30px; margin-right: 10px;"></a> <img
				src="https://res.cloudinary.com/component-media/image/upload/v1575724831/Cryptobiz%20Email%20Templates%20Images/pintrest-icon.png"
				style="width: 30px; height: 30px;"></td>
		</tr>
	</table>
</body>
</html> -->