<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="multi-level menu, mobile menu, responsive, space-saving, drop-down menu, css, jquery" />
      <meta name="description" content="Responsive Multi-Level Menu: Space-saving drop-down menu with subtle effects" />
      <title>Exchange</title>
   </head>
   <body style="margin: 0px; padding: 0px;background:#edeef2;">
      <div style="padding:20px 0;margin:0px; font-family:'Open Sans',Helvetica,Arial,sans-serif; font-size:14px; font-weight:100;color:#000; line-height:20px;">
         <table style="width:600px;max-width:100%;margin:0px auto;border-collapse:collapse;" cellpadding="0" cellspacing="0">
            <tbody>
               <!--  Tr Start-->
               <tr>
                  <td style="padding:10px 0;text-align:center;">
                     <a href="javascript:void(0);" style="display:inline-block;width:150px;"><img src="https://res.cloudinary.com/parandeks/image/upload/v1534759727/kryptoro.png" style="width:100%;" alt="Logo"/></a>
                  </td>
               </tr>
               <!--  Tr End-->
               <!--  Tr Start-->
               <tr>
                  <td style="padding:10px;">
                     <table style="width:100%;border:2px solid #eceaea;background:#fff;border-collapse:collapse;" cellpadding="0" cellspacing="5">
                        <tbody>
                           <tr>
                              <td style="padding:50px 30px;">
                                 <h1 style="font-size:24px;margin:0 0 20px;text-align:center;color:#454545;font-weight:600;">Payment Rejected</h1>
                                <!--  <p style="margin-bottom:0px;font-size:13px;font-weight:600;color:#525252;text-align:center;">
                                    If you lost your password or wish to reset it,</br>use the link below to get started
                                 </p> -->
                                 <div style="text-align:center;margin:40px 0;">
                              <!--       <a href="$userDetail.url" style="background-color:#4cbcfe;color:#fff;padding:10px 30px;display:inline-block;text-decoration:none;" target="_blank">Reset Your password</a> -->
                                 </div>
                                 <p style="margin-bottom:0px;font-size:13px;font-weight:500;color:#979797;text-align:center;">
                                   ${adminMessage}
                                 </p>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <!-- Tr End -->
			    <!--  Tr Start-->
               <tr>
                  <td style="padding:10px 0;text-align:center;">
                    <p style="margin-bottom:0px;font-size:13px;font-weight:500;color:#979797;text-align:center;">
					  Copyright &copy; 2018. All rights reserved.
					</p>
                  </td>
               </tr>
               <!--  Tr End-->
            </tbody>
         </table>
      </div>
   </body>
</html>