<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: 0px; padding: 0px;">
    <table
        style="min-width: 600px; max-width-width: 600px; background: #fff; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; color: #777; line-height: 30px padding:0 3em; max-width: 700px; margin: 10px auto 0">
        <!-- style="overflow:hidden; background: #ffffff;color:#000;" -->
        <tr
            style="margin: 0 auto; width: 100%; text-align: center; margin: 0 auto; max-width: 100%; background-color: rgb(48, 47, 53);">
            <td><img src="https://res.cloudinary.com/dzy9trylr/image/upload/v1648877218/logo_hn4euh.svg"
                    style="width: 40%;"></td>
        </tr>
        <tr
            style="font-size: 18px; font-weight: 400; width: 100%; text-align: center; display: flex; align-items: center; justify-content: center; margin: 20px 0px;">
            <td style="border-bottom: 1px solid #000;">KYC STATUS</td>
        </tr>
        <tr style="font-size: 16px; color: black;">
            <td style="padding: 10px 30px; text-align: center;">Your KYC
                document <label id="docname"></label> has been <label id="status" style="font-weight: bold"></label> by
                Admin on <label id="datetime"></label>.
            </td>
        </tr>
        <tr style="font-size: 16px; color: black; margin-top: 20px;">
            <td style="padding: 0px 30px;">Note: Please be aware of phishing
                sites and always make sure you are visiting our official website
                when entering sensitive data: <a
                    href="https://bitbharat.world/">https://bitbharat.world</a>
            </td>
        </tr>
        <tr style="font-size: 16px; color: black; margin-top: 20px;">
            <td style="padding: 0px 30px;">Thank you for your continued
                support.</td>
        </tr>
        <tr style="font-size: 16px; color: black; margin-top: 20px;">
            <td style="padding: 0px 30px;"><strong>Kindly Regards,</strong><br />Bit Bharat
                Exchange Team
            </td>

        </tr>
       <tr style="width: 100%;text-align: center; ">
        <td>
            <a href="https://twitter.com/" target="_blank"><img
                    src="https://res.cloudinary.com/dyqmtv7ah/image/upload/v1660656512/twitter_e9hacd.png"
                    style="width: 30px; height: 30px;margin-right: 10px; margin-top: 25px;"></a>
            <a href="https://telegram.org/" target="_blank"><img
                    src="https://res.cloudinary.com/dyqmtv7ah/image/upload/v1660656512/telygram_np1fdn.png"
                    style="width: 30px; height: 30px;margin-right: 10px; "></a>
            <a href="https://www.instagram.com/" target="_blank"><img
                    src="https://res.cloudinary.com/dyqmtv7ah/image/upload/v1660656512/instagram_lraddo.png"
                    style="width: 30px; height: 30px; margin-right: 10px;"></a>
                    <a href="https://in.linkedin.com/" target="_blank"><img
                    src="https://res.cloudinary.com/dyqmtv7ah/image/upload/v1660656512/likedin_ja0usd.png"
                    style="width: 30px; height: 30px; margin-right: 10px;"></a>
            
        </td>
    </tr>
        <tbody>
			<!-- <tr>
				<td bgcolor="#eaeced">
					<table width="600" align="center" style="margin: 0 auto;" cellpadding="0" cellspacing="0"
						bgcolor="#101230">
						<tbody> -->
			<tr>
				<td style="padding: 5px 15px 10px; background-color: rgb(48, 47, 53);">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<th width="400" align="left" style="vertical-align: bottom; padding: 0;">
									<table width="100%" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td
													style="text-align: center; font: 11px/14px Arial, Helvetica, sans-serif; background-color: rgb(48, 47, 53); color: #fff; padding: 0 0 10px;">
													<br />
													 ©
                                                                    2022-2023 BitBharat.world All
                                                                    Rights
                                                                    Reserved
												</td>
											</tr>
										</tbody>
									</table>
								</th>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
    </table>
</body>

</html>